{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Closed Listings</h2>

    <div class="dropdown" style = "margin-bottom:25px;margin-left:50px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter by Category
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/category/Art">Art</a>
            <a class="dropdown-item" href="/category/Beauty">Beauty</a>
            <a class="dropdown-item" href="/category/Books">Books</a>
            <a class="dropdown-item" href="/category/Cell Phones">Cell Phones</a>
            <a class="dropdown-item" href="/category/Consumer Electronics">Consumer Electronics</a>
            <a class="dropdown-item" href="/category/Home">Home</a>
            <a class="dropdown-item" href="/category/Personal Computers">Personal Computers</a>
            <a class="dropdown-item" href="/category/Sports">Sports</a>
            <a class="dropdown-item" href="/category/Video Games">Video Games</a>
        </div>
    </div>

    {% for listing in listings %}
        {% if not listing.isactive %}
            <div id="listing">
                <div class="card border-light mb-3" style="max-width: 400px; max-height: 500px; margin-left: auto; margin-right: auto;">
                        <img src = "{{ listing.image }}" class="center" id="img1">
                    <div class="card-header" style="text-align: center; text-decoration:none">  
                        <a href = "/listing/{{ listing.id }}" style="text-decoration: none;">{{ listing.name }}</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" >Winner: <b>{{ listing.winner }}</b></h5>
                        <div> Posted by: <b>{{ listing.seller }}</b></div>
                        <p class="card-text">Date Posted: {{ listing.datetime }}</p>    
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

{% endblock %} 